body {
    /*background-color: #202124;*/
    text-align: right;
    font-family: Arial, Helvetica, sans-serif;
    color: black;
}

#google_logo {

    width: 300px;
    height: auto;

    margin-top: 140px;

    display: block;
    margin-left: auto;
    margin-right: auto;

}

form {
    text-align: center;
}

input {

    /*background: none;*/
    box-shadow: none;
    border: solid;
    border-color: #bbbbbb;
    border-radius: 30px;
    text-align: center;
    width: 150px;
    height: 50px;
    font-family: Arial, Helvetica, sans-serif;

}

#search_bar {
    margin-top: 60px;
    padding-left: 2%;
    padding-right: 2%;
    font-size: large;
    font-family: Arial, Helvetica, sans-serif;
    width: 75%;
    max-width: 600px;
    text-align: left;
}

a {
    text-decoration: none;
    font-family: Arial, Helvetica, sans-serif;
    font-size: small;
    color: black;
    padding: 10px;
}

a:hover {
    text-decoration: underline;
}

.prompts{
    color: black;
}

.prompt_cells{
    text-align: left;
    font-size: small;
    padding-left: 5px;
    padding-right: 20px;
}

.input_fields{
    box-shadow: none;
    border: solid;
    border-radius: 0px;
    background: none;
    border-color: #bbbbbb;
    border-width: 1px;

    
    width: 400px;
    height: 20px;

    padding-left: 2%;
    padding-right: 2%;
    padding-top: 7px;
    padding-bottom: 7px;

    color: black;
    font-size: large;
    font-family: Arial, Helvetica, sans-serif;
    text-align: left;
}

.button{
    box-shadow: none;
    border: none;
    border-radius: 2px;

    background-color: #0096FF;

    text-align: center;
    color: white;
    width: 130px;
    height: 30px;
    font-family: Arial, Helvetica, sans-serif;
}

.button:hover{
    background-color: #B4CAF6;
    border-color: blue;
}

h3{
    font-size: larger;
    text-align: left;
}

p{
    text-align: left; 
    color: black; 
    padding-left: 5px; 
    font-weight: bold;
    padding-top: 20px;
}

hr{
    border-width: 0.5px;
    border-color: #999999;
}